<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Articulos JDE</title>

</head>
<body>
    <div class="card" style="width: 18rem;margin: 0 auto;">
        <img class="card-img-top" src="../../Sinimagen.png" alt="Card image cap" height="300" width="150">
        <div class="card-body" style="margin: 0 auto">
          <h5 class="card-title"> Sin imagen asociada </h5>
          <p class="card-text"> Favor de catalogar su imagen</p>
        </div>
    </div>
    
    
</body>
</html>